.layout{
    height: 100vh;
    background-image: url(../../img/pexels-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;


}

.container{
    max-width: 1200px;
    margin: 0 auto;
}